@media screen and (max-width: 935px) {
    .right-content {
        display: none;
    }
    .left-content {
        margin: 0 auto;
    }
    header {
        padding: 20px 15px !important;
    }
}

@media screen and (max-width: 614px) {
    .stories-bar {
        background-color: transparent;
        border: none;
        margin: 60px 0px 5px 0px;
        padding: 23px 10px;
    }
    .icon-stories {
        display: none;
    }
    header .wrapper {
        display: none;
    }
}